.profile__edit-button {
  width: 24px;
  height: 24px;
  position: relative;
  bottom: 20px;
  background: none;
  background-image: url(../../../images/edit-button.svg);
  background-size: contain;
  cursor: pointer;
  border: none;
  align-self: flex-end;
}

.profile__edit-button:hover {
  opacity: .6;
  transition: .3s ease-in;
}

@media screen and (max-width: 540px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    right: 20px;
    bottom: 25px;
  }
}