.page__header {
  margin-left: 200px;
  margin-right: 200px;
}

@media screen and (max-width: 1279px) {
  .page__header {
    margin-left: calc(85px + (362 + 362 * 0.7) * ((100vw - 1040px) / 1279));
    margin-right: calc(85px + (362 + 362 * 0.7) * ((100vw - 1040px) / 1279));
  }
}

@media screen and (max-width: 1000px) {
  .page__header {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media screen and (max-width: 840px) {
  .page__header {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media screen and (max-width: 740px) {
  .page__header {
    margin-left: 0;
    margin-right: 0;
  }
}