.profile__amplua {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  max-width: 294px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 740px) {
  .profile__amplua {
    justify-self: center;
  }
}

@media screen and (max-width: 540px) {
  .profile__amplua {
    font-size: 14px;
    line-height: 17px;
    max-width: 200px;
  }
}