.profile__name {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  max-width: 294px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position:relative;
  top: 12px;
}

@media screen and (max-width: 540px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    top: 0px;
    max-width: 200px;
  }
}