.popup__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-align: center;
  max-width: 330px;
  margin: 34px 80px 46px 36px;
}

@media screen and (max-width: 540px) {
  .popup__title {
    max-width: 238px;
    margin: 25px 22px 75px;
    font-size: 18px;
    line-height: 22px;
  }
}